* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.topo {
    padding-top: 8%;
    height: 5vh;
    display: inline-block;
    justify-content: left;
    align-items: left;
    font-size: 24px;
    transition: .5s;
    padding-left: 2%;
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 0.5%;
}

.procura {
    position: relative;
    left: 33%;
    width: 50vh;
    font-size: 3vh;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.30);
    border-radius: 5px;
    text-align: center;
}

.produtos {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    border: none;
}

.peca {    
    justify-content: center;
    margin-right: 5%;
    margin-top: 2%;
    width: 15%;
    border-radius: 5%;
    height: 150%;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.30);
}

.p {
    width: 100%;
    border-radius: 5%; 
    min-height: 20vh;
}

h2 {
    padding-left: 5%;
    font-size: 18px;
}

.t3 {
    text-decoration: none;
    box-sizing: 1px;
    color: #000000;
    margin-left: 33%;
    background-color: #d6d6d6;
    margin-top: 1%;
    margin-bottom: 5%;
}
